.movie_card{
    font-size: 10px;
}

.movie_card{
  //display: flex;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 30px;
  width:25%;
  max-width: 200px;
  height:65%;
  img{
    height:70%;
    width: 100%;
  }
  .movie_title{
    font-size: 10px;
    display: inline-block;
  }
}