
.movie_card{
//display: flex;
position: relative;
top: 0;
left: 0;
display: flex;
cursor: pointer;
flex-wrap: wrap;
align-content: flex-start;
border: 1px solid #e3e3e3;
border-radius: 4px;
overflow: hidden;
margin-top: 30px;
width:25%;
max-width: 200px;
height:55%;
img{
  height:50%;
  width: 100%;
}
.card-top{
  width: 100%;
  height: 100%;
}
.card-bottom{
  display: flex;
  flex-direction: column;
}
.movie_title{
  font-size: 10px;
  display: flex;
  margin: 3px 3px;
  .rating{
    margin-left: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.movie_description{
  text-align: left;
  line-height: 1.1rem;
  font-size: 8px;
  margin:4px;
}
}